body{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    color:white;

}

#social-links{
    margin-top: 30px;
}

.fa-brands, .fa-solid{
    color:white;
}